/* Pour les boutons */
.btn-primary {
    background-color: #0582CA;
    border-color: #00A6FB;
    /* Ajoutez d'autres propriétés comme la couleur de la police, l'ombre, etc. si nécessaire */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #006494;
    border-color: #0582CA;
    /* Autres propriétés pour l'état hover/focus/active */
}
